* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

li {
  margin: 0.4rem 0;
}

.input-area {
  margin: 1.5rem 0 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 80vw;
  font-size: 1rem;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid lightgrey;
}

.small-info-text {
  font-size: 1rem;
  font-style: italic;
  color: #c9c9c9;
}

button {
  margin: 1.25rem 0.5rem;
  padding: 0.5rem 1.75rem;
  background-color: rgb(255, 165, 0);
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
}

button:hover {
  background-color: rgb(255, 165, 0, 0.6);
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  input {
    width: 400px;
  }
}
